.collapse-text-title {
  padding-left: 15px;
  margin-bottom: .5em;
  background: url(../../../../../misc/menu-expanded.png) 5px 65% no-repeat;
}
.collapse-text.collapsed .collapse-text-title {
  background-image: url(../../../../../misc/menu-collapsed.png);
  background-position: 5px 50%;
}
.collapse-text-wrapper,
.collapse-text-width {
  padding-left: 1em;
  padding-right: 1em;
}