.collapse-text{
	margin:1em 1em;
}

.collapse-text-title{
	display:block;
	background: url(../../../../../../../misc/menu-expanded.png) 5px 65% no-repeat;
	padding-left: 15px;
	color:#0074BD;
	cursor:pointer;
	border: 1px solid #ccc;
}

.collapse-text.editor-hide .collapse-text-title{
	background-image: url(../../../../../../../misc/menu-collapsed.png);
	background-position: 5px 50%;
}

.collapse-text .collapse-text-wrapper {
	border: 1px solid #ccc;
	padding-left:1em;
	padding-right:1em;
}

.collapse-text.editor-hide .collapse-text-wrapper{
	display:none;
}